.dirPanel{

	position: absolute;	
	top: 60px;
	right: 10px;
	
}

.dir-buttons{
	
	background-color: #008CBA; /*Green*/
	border: none;
	color: white;
	height: 155px;
	width: 155px;
	align-items: center;
	display: inline-block;
	font-size: 20px;
	
}

.forward{
	
	position: relative;
	top: 25px;
	right: -432px;
	text-decoration: Forward;

}

.left{
	
	position: relative;
	top: 188px;
	right: 198px;
	text-decoration: Left;

}

.em-stop{
	
	position: relative;
	top: 100px;
	right: -120px;
	text-decoration: Stop;

}

.right{
	
	position: relative;
	top: 188px;
	right: -438px;
	text-decoration: Right;

}

.reverse{
	
	position: relative;
	top: 291px;
	right: 199px;
	text-decoration: Reverse;
	
}

.camPanel{
	
	position: absolute;
	bottom: 40px;
	left:110px;

}

.cam-buttons{
	
	background-color: #008CBA; /*Green*/
	border: none;
	color: white;
	position: relative;
	height: 60px;
	width: 60px;
	align-items: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;

}

.pan-left-full{
	
	left: -20px;
	
}

.pan-left{
	
	left: 225px;
	
}

.pan-home{

	bottom: 26px;
	left: 170px;

}

.pan-right {
	
	left:295px;
	
}

.pan-right-full{
	
	left:180px;
}

.throttle-param{

	position: absolute;
	right: 30px;
	top: 800px;
	list-style: none;

	
}

.run-duration{

	position: absolute;
	right: 30px;
	top: 1000px;
	list-style: none;


}

.feed{
	
	position: absolute;
	left: 150px;

}

.speed-param{
	
	position: absolute;
	right: 30px;
	bottom: 260px;
	text-align: center;
	list-style: none;
	display: inline-block;

}

.go-slow{

	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 20px;
	width: 60px;
	right: 50px;

}

.go-mid{

	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 20px;
	width: 60px;
	right: 50px;

}

.go-fast{

	position: relative;
	display: inline-block;
	text-align: center;
	bottom: 20px;
	width: 60px;
	right: 50px;

}

.run-duration{
	
	position: absolute;
	right: 30px;
	bottom: 200px;
	list-style: none;
	
}

.short-time{
	
	position: relative;
	display: inline-block;
	text-align: center;
	width: 60px;
	bottom: 20px;
	right: 50px;
	
}

.mid-time{
	
	position: relative;
	display: inline-block;
	text-align: center;
	width: 60px;
	bottom: 20px;
	right: 50px;
	
	
}

.constant-run{
	
	position: relative;
	display: inline-block;
	text-align: center;
	width: 60px;
	bottom: 20px;
	right: 50px;
	
	
}


