.controller{
	 display: flex;
	 flex-flow: wrap;
}

.controller div{
	height: 50%;
	width: 600px;
}

.controller{
	color: #fff;
	font: 100 25px/100px sans-serif;
	height: 1200px;
	width: 1500px;
}

.readings{
	background: purple;
	align-items: center;
}

.motion-controls{

	background: yellow;	
	top: 100px;
	right: -100px;
	display: block;
	align-items: center;
	
}
.dir-buttons{
	
	background-color: #008CBA; /*Green*/
	position: relative;
	border: none;
	color: white;
	height: 150px;
	width: 150px;
	
	font-size: 20px;
	
}

.forward{
		
	top: -90px;
	right: -230px;
	text-decoration: Forward;

}

.left{
	
	top: -80px;
	right: -75px;
	text-decoration: Left;

}

.em-stop{
	
	top: 90px;
	right: 80px;
	text-decoration: Stop;

}

.right{
	
	top:65px;
	right: -235px;
	text-decoration: Right;

}

.reverse{
	
	top: 60px;
	right: -80px;
	text-decoration: Reverse;
	
}

.operational-profile{
	
	background: grey;
	bottom: 250px;
	right: 30px;
}

.throttle-param{

	bottom: 0px;
	width: 50px;
	
}

.run-duration{
	
	width: 65px;
	list-style: none;
	text-align: center;
	
}

.camera-controls{
	
	background: cyan;
	bottom: 200px;
	left: 50px;
	align-items: center;
}

.cam-buttons{
	
	background: #00ba44; /*Green*/
	border: none;
	color: white;
	height: 60px;
	width: 60px;
	align-items: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	padding: 5px;

}

.pan-left-full{
	
	left: -180px;
	
}

.pan-left{
	
	left: 80px;
	
}

.pan-home{

	left: 20px;
	bottom: 20px;
	
}

.pan-right {
	
	left: 150px;
	
}

.pan-right-full{
	
	left: 30px;

}

.feed{
	
	background: #000000; /*Black*/
	height: 480px;
	width: 640px;
	color: white;
	left: -50px;
	text-align: centre;
	font-size: 150px;
	top: 200px;

}
