.button {
	border: none;
	color: white;
	text-align: centre;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.5s;
	cursor: pointer;
	

}

.move {
	
	background-color: #008CBA; /*Blue*/
	border: none;
	color: white;
	height: 70px;
	width: 70px;
	font-size: 20px;
	
}

.cam {
	
	background-color: #008000; /*Green*/
	border: none;
	color: while;
	width: 70px;
	height: 70px;
	font-size: 20px;
}

.function {
	background-color: #008000; /*Green*/
	border: none;
	color: while;
	width: 70px;
	height: 70px;
	font-size: 20px;
}